.container1{
    height:300px;
    width:500px;
    background-color: red;
}

img{
    border-radius: 50%;
    position: absolute;
    top: 170px;
    left: 150px;
    width: 200px;
    height: 200px;
}


.container2{
    background-color: grey;
    height: 400px;
    width:500px;
    border-bottom-right-radius: 30px;
}

.card1{
    
    padding-top :100px;
    padding-left: 120px; 
}


